<shared-divider>Placebolder</shared-divider>
<app-placeholder [header]="true" [lines]="3"></app-placeholder>
<!-- Callout #1 -->
<shared-divider>Callout # 1</shared-divider>
<app-callout button_url="http://google.ca">
  <header>Google</header>
  <div cardTitle>Why I love Google</div>
  <body>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. A, quae sequi!
    Eius odit nobis expedita earum omnis obcaecati! Inventore natus enim
    distinctio facere nemo quasi beatae ipsum excepturi perferendis nesciunt.
  </body>
  <span class="card-button">Checkout</span>
</app-callout>
<!-- Callout #2 -->
<shared-divider>Callout # 2</shared-divider>
<app-callout button_url="http://amazon.ca">
  <header>Amazon</header>
  <div cardTitle>Why I love Amazon</div>
  <body>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. A, quae sequi!
    Eius odit nobis expedita earum omnis obcaecati! Inventore natus enim
    distinctio facere nemo quasi beatae ipsum excepturi perferendis nesciunt.
  </body>
  <span class="card-button">Checkout</span>
</app-callout>
