<div class="container">
  <nav class="nav nav-pills">
    <a class="nav-link" routerLink="/elements" routerLinkActive="active"
      >Elements</a
    >
    <a class="nav-link" routerLink="/collections" routerLinkActive="active"
      >Collections</a
    >
    <a class="nav-link" routerLink="/wysiwyg" routerLinkActive="active"
      >WYSIWYG</a
    >
    <a class="nav-link" routerLink="/views" routerLinkActive="active">Views</a>
    <a class="nav-link" routerLink="/mods" routerLinkActive="active">Mods</a>
  </nav>
  <hr class="my-4" />
  <!-- Content here -->
  <div class="jumbotron">
    <div class="container lead">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
